[
  {
    "upn": "test.user@gmail.invalid",
    "password": "test1",
    "passwordNeverExpire": true,
    "accountDisabled": false,
    "cn": "Test User",
    "attributes": {
      "givenName": "Test",
      "sn": "User",
      "displayName": "Test User"
    },
    "groups": [ "TestGroup" ]
  }
]